<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 style="text-align:center;">Flame Grilled Burgers</h3>
            <hr />
            <div class="col-10 offset-1">
                <img src="./../../../../assets/menu/burgers/1.jpg" title="" alt="" class="img-fluid rounded">
            </div>
            <br />
            <div class="row">
                <div class="col-3 offset-6 text-center">
                    <p>
                        <u>Kaiser Roll</u>
                    </p>
                </div>
                <div class="col-3 text-center">
                    <p>
                        <u>Sub Roll</u>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>
                        {{burgersData.get('burgerKaiser').name}}
                    </p>
                </div>
                <div class="col-3 offset-3 text-center">
                    <p>
                        {{burgersData.get('burgerKaiser').price}}
                    </p>
                </div>
                <div class="col-3 text-center">
                    <p>
                        {{burgersData.get('burgerSub').price}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>
                        {{burgersData.get('burgerDeluxeKaiser').name}}
                    </p>
                </div>
                <div class="col-3">
                    <p>
                        {{burgersData.get('burgerDeluxeKaiser').desc}}
                    </p>
                </div>
                <div class="col-3 text-center">
                    <p>
                        {{burgersData.get('burgerDeluxeKaiser').price}}
                    </p>
                </div>
                <div class="col-3 text-center">
                    <p>
                        {{burgersData.get('burgerDeluxeSub').price}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>
                        {{burgersData.get('burgerBarrettaKaiser').name}}
                    </p>
                </div>
                <div class="col-3">
                    <p>
                        {{burgersData.get('burgerBarrettaKaiser').desc}}
                    </p>
                </div>
                <div class="col-3 text-center">
                    <p>
                        {{burgersData.get('burgerBarrettaKaiser').price}}
                    </p>
                </div>
                <div class="col-3 text-center">
                    <p>
                        {{burgersData.get('burgerBarrettaSub').price}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>
                        {{burgersData.get('burgerSupremeKaiser').name}}
                    </p>
                </div>
                <div class="col-3">
                    <p>
                        {{burgersData.get('burgerSupremeKaiser').desc}}
                    </p>
                </div>
                <div class="col-3 text-center">
                    <p>
                        {{burgersData.get('burgerSupremeKaiser').price}}
                    </p>
                </div>
                <div class="col-3 text-center">
                    <p>
                        {{burgersData.get('burgerSupremeSub').price}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>
                        {{burgersData.get('burgerDomenicoKaiser').name}}
                    </p>
                </div>
                <div class="col-3">
                    <p>
                        {{burgersData.get('burgerDomenicoKaiser').desc}}
                    </p>
                </div>
                <div class="col-3 text-center">
                    <p>
                        {{burgersData.get('burgerDomenicoKaiser').price}}
                    </p>
                </div>
                <div class="col-3 text-center">
                    <p>
                        {{burgersData.get('burgerDomenicoSub').price}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>
                        {{burgersData.get('burgerPizzaKaiser').name}}
                    </p>
                </div>
                <div class="col-3">
                    <p>
                        {{burgersData.get('burgerPizzaKaiser').desc}}
                    </p>
                </div>
                <div class="col-3 text-center">
                    <p>
                        {{burgersData.get('burgerPizzaKaiser').price}}
                    </p>
                </div>
                <div class="col-3 text-center">
                    <p>
                        {{burgersData.get('burgerPizzaSub').price}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <p>
                        {{burgersData.get('burgerPizzaPepKaiser').name}}
                    </p>
                </div>
                <div class="col-3">
                    <p>
                        {{burgersData.get('burgerPizzaPepKaiser').desc}}
                    </p>
                </div>
                <div class="col-3 text-center">
                    <p>
                        {{burgersData.get('burgerPizzaPepKaiser').price}}
                    </p>
                </div>
                <div class="col-3 text-center">
                    <p>
                        {{burgersData.get('burgerPizzaPepSub').price}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>