<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 style="text-align:center;">Pasta Dinner</h3>
            <hr />
            <!-- image slidshow -->
            <div class="col-10 offset-1">
                <app-slideshow [images]="images"></app-slideshow>
            </div>
            <p style="text-align:center;margin-bottom:0;"><i>Choice of Pasta: Penne, Capellini, or Linguini</i></p>
            <p style="text-align:center;margin-top:0;margin-bottom:0;"><i>Includes Salad, Bread & Butter</i></p>
            <p style="text-align:center;margin-top:0;margin-bottom:0;"><i>Add Shrimp - $1.50 each</i></p>
            <p style="text-align:center;margin-top:0;margin-bottom:0;"><i>Add Chicken - $6.00</i></p>
            <p style="text-align:center;margin-top:0;"><i>Add Meat Sauce - $4.00</i></p>
            <ul class="list-group">
                <a class="list-group-item no-border" style="text-align: center" *ngFor="let item of items">
                    <strong>{{ item.name }}</strong>
                    <br />
                    {{item.desc}}
                    <br *ngIf="item.desc" />
                    {{item.price}}
                </a>
            </ul>
        </div>
    </div>
</div>