<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 style="text-align:center;">Soup Del Giorno</h3>
            <hr />
            <div class="col-10 offset-1">
                <img src="./../../../../assets/menu/soup/soup.jpg" title=""
                    alt=""
                    class="img-fluid rounded"
                    >
            </div>
        </div>
        <div class="col-12">
            <p style="text-align:center;"><i>Pasta Fagioli - Wedding Soup</i></p>
        </div>
        <div class="col-12">
            <ul class="list-group">
                <a class="list-group-item no-border" style="text-align: center" *ngFor="let item of items">
                    <strong>{{ item.name }}</strong>
                    <br />
                    {{item.desc}}
                    <br *ngIf="item.desc" />
                    {{item.price}}
                </a>
            </ul>
        </div>
    </div>
</div>