<app-header></app-header>
<div class="container container-height margin-top margin-bottom">
  <div class="row">
    <div class="col-12 text-center">
      <a [routerLink]="['/menu']">
      <img class="mx-auto d-block" style="width:50%" src="./../../assets/home/barrettas-logo-black.png" title=""
        alt="Barretta's">
      </a>
    </div>
    <div class="col-12 text-center">
        <a [routerLink]="['/menu']">
      <img class="mx-auto d-block" style="width:45%" src="./../../assets/home/italian-restaurant-and-pizzeria.png"
        title="" alt="Italian Restaurant & Pizzeria">
        </a>
    </div>
    <div class="col-12 text-center">
        <a [routerLink]="['/menu']">
      <img class="mx-auto d-block" style="width:45%" src="./../../assets/home/buon-appetito.png"
        title="" alt="Buon Appetito">
        </a>
    </div>
  </div>
</div>
<app-footer></app-footer>