<app-header></app-header>
<div class="container container-height margin-top margin-bottom" #top>
    <div class="row">
        <div class="col-12">
            <h1 style="text-align: center;">
                About Us
            </h1>
            <hr />
        </div>
        <div class="col-6 offset-1 d-none d-lg-block">
            <img class="rounded img-fluid" src="./../../assets/about-us/domenico.jpg" title="" alt="Domenico Barretta">
        </div>
        <div class="col-4 t d-none d-lg-block">
            <p>
                Since opening in February of 2002, Barretta's Italian
                Restaurant has been a staple in the Kennett Square community.
            </p>
            <p>
                Lunch and Dinner is served daily with a wide array of sandwiches,
                paninis, soups, pizza, entrees and salads using the finest ingredients.
                Barretta's offers daily lunch specials and lunch combos including subs,
                cheese steaks, calzones, stromboli using imported Italian meats and cheeses.
            </p>
            <p>
                Domenico and Giovanna Barretta have assembled a collection of
                homemade Italian meals including Pasta Primavera, Alfredo and their own Pasta
                Barretta. Steak, Veal, Chicken and Seafood along with Baked Pasta Dishes
                available daily.
            </p>
            <p>
                Most major credit cards are accepted. Barretta's is a BYOB and smoke free
                restaurant.
            </p>
        </div>
        <div class="col-12 d-lg-none">
            <img class="small-wrap rounded img-fluid" width="50%" src="./../../assets/about-us/domenico.jpg">
            Since opening in February of 2002, Barretta's Italian
            Restaurant has been a staple in the Kennett Square community.
            <br><br>
            Lunch and Dinner is served daily with a wide array of sandwiches,
            paninis, soups, pizza, entrees and salads using the finest ingredients.
            Barretta's offers daily lunch specials and lunch combos including subs,
            cheese steaks, calzones, stromboli using imported Italian meats and cheeses.
            <br><br>
            Domenico and Giovanna Barretta have assembled a collection of
            homemade Italian meals including Pasta Primavera, Alfredo and their own Pasta
            Barretta. Steak, Veal, Chicken and Seafood along with Baked Pasta Dishes
            available daily.
            <br><br>
            Most major credit cards are accepted. Barretta's is a BYOB and smoke free
            restaurant.
        </div>
    </div>
</div>
<app-footer></app-footer>