<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 style="text-align:center;">Hot Subs</h3>
            <hr />
            <!-- image slidshow -->
            <div class="col-10 offset-1">
                <app-slideshow [images]="images"></app-slideshow>
            </div>

            <p style="text-align:center;"><i>On a 12" Roll</i></p>
            <ul class="list-group">
                <a class="list-group-item no-border" style="text-align: center" *ngFor="let item of items">
                    <strong>{{ item.name }}</strong>
                    <br />
                    {{item.desc}}
                    <br *ngIf="item.desc" />
                    {{item.price}}
                </a>
                <br />
                <h4 style="text-align:center;"><strong>Hot Subs Add On's</strong></h4>
                <ul class="list-group">
                    <a class="list-group-item no-border" style="text-align: center" *ngFor="let addon of addons">
                        <strong>{{ addon.name }}</strong>
                        <br />
                        {{addon.price}}
                    </a>
                </ul>
            </ul>
        </div>
    </div>
</div>