<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 style="text-align:center;">Gluten Free</h3>
            <hr />
            <div class="col-10 offset-1">
                <img src="./../../../../assets/menu/gluten-free/1.jpg" title=""
                    alt=""
                    class="img-fluid rounded"
                    >
            </div>
            <ul class="list-group">
                <a class="list-group-item no-border" style="text-align: center" *ngFor="let item of items">
                    <strong>{{ item.name }}</strong>
                    <br />
                    {{item.desc}}
                    <br *ngIf="item.desc" />
                    {{item.price}}
                </a>
            </ul>
        </div>
        <div class="col-9 offset-3">
            <br>
            <h3 text-center>
                Appetizers
            </h3>
            <ul>
                <li>Mussels with white wine and garlic</li>
                <li>Mussels with marinara sauce</li>
                <li>Clams with white wine and garlic</li>
            </ul>
        </div>
        <div class="col-9 offset-3">
            <h3 text-center>
                Soup
            </h3>
            <ul>
                <li>Pasta Fagioli (no pasta)</li>
            </ul>
        </div>
        <div class="col-9 offset-3">
            <h3 text-center>
                Side Orders
            </h3>
            <ul>
                <li>Broccoli</li>
                <li>Broccoli with mozzarella</li>
                <li>Broccoli di rabe</li>
                <li>Spinach with garlic and oil</li>
            </ul>
        </div>
        <div class="col-9 offset-3">
            <h3 text-center>
                Salads
            </h3>
            <ul>
                <li>Dinner Salad (no crouton)</li>
                <li>Caesar Salad (no crouton)</li>
                <li>Tuna Salad with provolone (no crouton)</li>
                <li>Grilled Chicken Salad with provolone (no crouton)</li>
                <li>Grilled Chicken Caesar Salad (no crouton)</li>
                <li>Giovanna Salad (no crouton)</li>
                <li>Spinach Salad</li>
                <li>Grilled Shrimp Salad (no crouton)</li>
                <li>Italian Tuna Salad with provolone (no crouton)</li>
            </ul>
        </div>
        <div class="col-9 offset-3">
            <h3 text-center>
                Dressings
            </h3>
            <ul>
                <li>Oil & Balsamic</li>
                <li>Ranch</li>
                <li>Blue Cheese</li>
                <li>French</li>
                <li>Caesar</li>
                <li>Creamy Italian</li>
            </ul>
        </div>
        <div class="col-9 offset-3">
            <h3 text-center>
                Hot Subs
            </h3>
            <ul>
                <li>Grilled Chicken Sub (no roll)</li>
                <li>Grilled Veggie Sub with cheese (no roll)</li>
                <li>Grilled Chicken Parmigiana Sub (no roll)</li>
                <li>Porchetta Sub (no roll)</li>
            </ul>
        </div>
        <div class="col-9 offset-3">
            <h3 text-center>
                Flame Grilled Burgers
            </h3>
            <ul>
                <li>Any burger without the roll</li>
                <li>Substitute GF bread ($2.50 additional)</li>
            </ul>
        </div>
        <div class="col-9 offset-3">
            <h3 text-center>
                Sandwiches
            </h3>
            <ul>
                <li>Tuna & provolone on GF bread ($2.50 additional)</li>
                <li>Mixed cheese on GF bread ($2.50 additional)</li>
                <li>Grilled chicken filet on GF bread ($2.50 additional)</li>
                <li>Porchetta on GF bread ($2.50 additional)</li>
            </ul>
        </div>
        <div class="col-9 offset-3">
            <h3 text-center>
                Entrees
            </h3>
            <ul>
                <li>Chicken cacciatore (no pasta)(no croutons on salad)(substitute broccoli)</li>
                <li>Grilled Chicken Alfredo (no pasta)(no croutons on salad)(substitute broccoli)</li>
                <li>Shrimp Scampi (no pasta)(no croutons on salad)(substitute broccoli)</li>
            </ul>
        </div>
        <div class="col-9 offset-3">
            <h3 text-center>
                Desserts
            </h3>
            <ul>
                <li>Flourless chocolate cake</li>
            </ul>
        </div>
        <div class="col-9 offset-3">
            <h3 text-center>
                Gluten Free (a la carte)
            </h3>
            <ul>
                <li>GF ravioli (cheese)</li>
                <li>GF gnocchi</li>
                <li>GF pizza (12 inch)</li>
            </ul>
        </div>
        <div class="col-6 offset-3">
            <h3 text-center>
                Gluten Free Pizza Toppings
            </h3>
            <p>
                mushrooms, green peppers, sweet peppers, hot peppers, onions,
                olives, broccoli, spinach, pineapple, garlic, anchovies,
                extra cheese, ricotta, tomatoes, grilled chicken, prosciutto,
                fresh mozzarella, broccoli di rabe
            </p>
        </div>

    </div>
</div>