<div class="container fixed-bottom">
    <div class="row">
        <!-- large screens -->
        <div class="col-4 d-none d-lg-block" style="margin-bottom:6px;">
            <a target="_blank"
                href="https://www.facebook.com/pages/category/Italian-Restaurant/Barrettas-Italian-Restaurant-217542258346315/">
                <img src="./../../assets/footer/facebook-icon.png" width="20" height="20" title="Our Facebook"
                    alt="Our Facebook">
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(610) 925-5540
        </div>
        <div class="col-1 offset-6 d-none d-lg-block">
            <a class="float-right" [routerLink]="['/jobs']">
                <span style="background-color:white;">Jobs</span>
            </a>
        </div>
        <div class="col-1 d-none d-lg-block">
            <a [routerLink]="['/contact']">
                <span style="background-color:white;">Contact</span>
            </a>
        </div>

        <!-- md -->
        <div class="col-5 d-none d-md-block d-lg-none" style="margin-bottom:6px;">
            <a target="_blank"
                href="https://www.facebook.com/pages/category/Italian-Restaurant/Barrettas-Italian-Restaurant-217542258346315/">
                <img src="./../../assets/footer/facebook-icon.png" width="20" height="20" title="Our Facebook"
                    alt="Our Facebook">
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(610) 925-5540
        </div>
        <div class="col-1 offset-4 d-none d-md-block d-lg-none">
            <a class="float-right" [routerLink]="['/jobs']">
                <span style="background-color:white;">Jobs</span>
            </a>
        </div>
        <div class="col-1 d-none d-none d-md-block d-lg-none">
            <a [routerLink]="['/contact']">
                <span style="background-color:white;">Contact</span>
            </a>
        </div>

        <!-- sm -->
        <div class="col-5 d-none d-sm-block d-md-none" style="margin-bottom:6px;">
            <a target="_blank"
                href="https://www.facebook.com/pages/category/Italian-Restaurant/Barrettas-Italian-Restaurant-217542258346315/">
                <img src="./../../assets/footer/facebook-icon.png" width="20" height="20" title="Our Facebook"
                    alt="Our Facebook">
            </a>
            &nbsp;&nbsp;&nbsp;(610) 925-5540
        </div>
        <div class="col-1 offset-3 d-none d-sm-block d-md-none">
            <a class="float-right" [routerLink]="['/jobs']">
                <span style="background-color:white;">Jobs</span>
            </a>
        </div>
        <div class="col-1 d-none d-sm-block d-md-none">
            <a [routerLink]="['/contact']">
                <span style="background-color:white;">Contact</span>
            </a>
        </div>

        <!-- xs -->
        <div class="col-6 d-block d-sm-none" style="margin-bottom:6px;">
            <a target="_blank"
                href="https://www.facebook.com/pages/category/Italian-Restaurant/Barrettas-Italian-Restaurant-217542258346315/">
                <img src="./../../assets/footer/facebook-icon.png" width="20" height="20" title="Our Facebook"
                    alt="Our Facebook">
            </a>
            &nbsp;&nbsp;(610) 925-5540
        </div>
        <div class="col-1 offset-2 d-block d-sm-none">
            <a class="float-right" [routerLink]="['/jobs']">
                <span style="background-color:white;">Jobs</span>
            </a>
        </div>
        <div class="col-2 d-block d-sm-none">
            <a [routerLink]="['/contact']">
                <span style="background-color:white;">Contact</span>
            </a>
        </div>
    </div>
</div>