<div class="container container-height margin-top margin-bottom" #top>
    <app-header></app-header>
    <div class="row">
        <div class="col-12 text-center">
            <h1>Hours & Location</h1>
            <hr />
        </div>
        <!-- medium to xl screens -->
        <div class="col-6 d-none d-lg-block">
                <img class="img-fluid rounded" src="./../../assets/location/store-front.jpg" alt="">
            </div>
            <div class="col-6 d-none d-lg-block">
                <div class="row"style="margin-top:10%;">
                    <div class="col-12">
                        <p style="margin-bottom: 0">New Garden Plaza II,</p>
                    </div>
                    <div class="col-12">
                        <p>Kennett Square, PA 19348</p>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="row">
                            <div class="col-5">
                                Tuesday - Thursday:
                            </div>
                            <div class="col-5">
                                11:00 AM - 8:30 PM
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                Friday & Saturday:
                            </div>
                            <div class="col-5">
                                11:00 AM - 9:30 PM
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                Sunday & Monday:
                            </div>
                            <div class="col-5">
                                Closed
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="row">
                            <div class="col-5">
                                Phone:
                            </div>
                            <div class="col-5">
                                (610) 925-5540
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                Fax:
                            </div>
                            <div class="col-5">
                                (610) 925-5541
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-12 d-lg-none">
            <div class="row">
                <div class="col-10 offset-1 text-center" style="margin-bottom:15px;">
                        <img class="img-fluid rounded" width="80%" src="./../../assets/location/store-front.jpg" alt="">
                </div>
                
                <div class="col-10 offset-2">
                    <p style="margin-bottom: 0">New Garden Plaza II,</p>
                </div>
                <div class="col-10 offset-2">
                    <p>Kennett Square, PA 19348</p>
                </div>
                <div class="col-12 mb-4">
                    <div class="row">
                        <div class="col-5 offset-2">
                            Tuesday - Thursday:
                        </div>
                        <div class="col-5">
                            11:00 AM - 8:30 PM
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 offset-2">
                            Friday & Saturday:
                        </div>
                        <div class="col-5">
                            11:00 AM - 9:30 PM
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 offset-2">
                            Sunday & Monday:
                        </div>
                        <div class="col-5">
                            Closed
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <div class="row">
                        <div class="col-5 offset-2">
                            Phone:
                        </div>
                        <div class="col-5">
                            (610) 925-5540
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 offset-2">
                            Fax:
                        </div>
                        <div class="col-5">
                            (610) 925-5541
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3063.3687100586944!2d-75.7301156851243!3d39.84356949822241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x89c65610e0d4614d%3A0xcae8c196723b9ce0!2sBarretta&#39;s%2C+739+W+Cypress+St%2C+Kennett+Square%2C+PA+19348!3m2!1d39.843565399999996!2d-75.727927!5e0!3m2!1sen!2sus!4v1566297606477!5m2!1sen!2sus"
                width="453" height="340" frameborder="0" style="border:0" allowfullscreen>
            </iframe>

        </div>
    </div>
    <app-footer></app-footer>
</div>