.txtWidthWide {
    border:0 0 0 0;
    padding:0 0 0 0;
    width:20em;
    text-align:center;
}
.txtWidthShort {
    border:0 0 0 0;
    padding:0 0 0 0;
    width:14em;
    text-align:center;
}

.div-inline{
    display:inline-block;
}

.btn-selector {
    padding-left:2px;
    padding-right:2px;
    padding-top:2px;
    padding-bottom:1px; 
    margin:0px;
}