<app-header></app-header>
<div class="container container-height margin-top margin-bottom">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Jobs</h1>
            <hr />
        </div>
        <div class="col-12 text-center">
            <p>
                Stop by and fill out the full application.
            </p>
        </div>   
        <div class="col-12 text-center">
            <form 
                (ngSubmit)="onSubmit()"
                #f = "ngForm">
                <select 
                    name="jobtype">
                    <option value="Waitstaff">Waitstaff</option>
                    <option value="Cook">Cook</option>
                    <option value="Pizza Man/Woman">Pizza Man/Woman</option>
                    <option value="Dishwasher">Dishwasheer</option>
                </select>
                <br>
                <input  
                    type="text"
                    maxlength="30"
                    ngModel
                    placeholder="name..."
                    required
                    name="name"
                    #name="ngModel"
                    [class.invalid]="name.touched && name.invalid">
                <br>
                <input 
                    type="text"
                    maxlength="30"
                    ngModel
                    placeholder="email..."
                    required
                    email
                    name="email"
                    #email="ngModel"
                    [class.invalid]="email.touched && email.invalid">
                <br>
                <input 
                    type="tel"
                    pattern="[0-9]{3}-?[0-9]{3}-?[0-9]{4}"
                    maxlength="30"
                    ngModel
                    placeholder="phone number..."
                    required
                    name="phone"
                    #phone="ngModel"
                    [class.invalid]="phone.touched && phone.invalid">
                <br>
                <button type="submit" [disabled]="f.invalid || isSubmitted">Send</button>

            </form>
            <br>
            <p *ngIf="isSubmitted">Thank you for your submission.
                <br>
                If a position becomes available we will contact you.
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>